whatsapp  agent.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6ae44ff3-02e7-4b91-8805-198f80da72d3",
      "name": "WhatsApp Trigger",
      "webhookId": "6e60067c-da03-405a-8bf9-55f337d9c47f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "1YUx0gzlvsY8JM9E",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please provide a useful response \n{{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e60884cc-3fb3-4a44-acde-7fe13766cee3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "3616fa65-85a0-4d85-8919-4b3081522eec",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AGZvpj50kkGcgMTl",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        192
      ],
      "id": "44513a8f-ffb1-471f-93d0-2ca9a9e0996e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "825574820635862",
        "recipientPhoneNumber": "=+2347036824474",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "9f209bef-e6c7-412d-9c98-58f2a3a3768a",
      "name": "Send message",
      "webhookId": "d5cefc76-7b3f-4749-9ca4-ea00d7ed1f8a",
      "credentials": {
        "whatsAppApi": {
          "id": "IJjlOjhuMwN8zlqd",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c3d3392-3781-4b71-b7ba-7b21b834b7ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b556da4a971f18079293dd8260a4d72f0d938fd6ec87f75a5f9c50bf2913852"
  },
  "id": "L05aWGT2xqZ4fmVV",
  "tags": []
}